.labelLayout {
  height: 20%;
}

.label {
  height: 55;
  font-size: 40;
  text-align: center;
  text-transform: uppercase;
}

.label-ios-phone-five {
  font-size: 35;
}

.label-tablet {
  font-size: 90;
  height: 120;
}

DockLayout {
  height: 100%;
}

.testContainer {
  padding-left: 15%;
  padding-right: 15%;
}

.testImagesLayout {
  vertical-align: center;
  horizontal-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50%;
  width: 50%;
}

.icon {
  width: 45%;
}
