<StackLayout verticalAlignment="center">
  <Image [src]="getHomeImage()" (tap)="goToGames()"></Image>
  <Label
    [text]="getTranslation(translation_parental_information)"
    (tap)="goToInfo()"
    class="label"
    [class.label-tablet]="!deviceIsPhone()"
  ></Label>
</StackLayout>
