StackLayout {
  height: 20%;
  width: 50%;
  horizontal-align: center;
  vertical-align: center;
}

.starImage {
  margin: 5;
  height: 45%;
  width: 15%;
}

.left {
  transform: rotate(-27deg);
}

.middle {
  transform: translateY(-20);
}

.right {
  transform: rotate(27deg);
}
