.label {
  height: 55;
  font-size: 40;
  text-align: center;
  text-transform: uppercase;
}

.label-ios-phone-five {
  font-size: 35;
}

.label-tablet {
  font-size: 90;
  height: 120;
}

Image {
  margin: 0% 5% 5% 5%;
  height: 75%;
}

StackLayout {
  height: 100%;
}
