.container {
  height: 100%;
}

.topLayout {
  height: 30%;
  background-color: #183256;
}

.headerLayout {
  height: 67%;
  background-image: url("~/assets/images/header.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.dateContainer {
  height: 33%;
  width: 100%;
  padding-top: 10%;
}

.backIcon {
  color: white;
  font-family: "forvoInfo";
  width: 10%;
  font-size: 40;
  horizontal-align: left;
  margin-left: 9%;
}

.listLayout {
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.list-group {
  height: 100%;
}

Label {
  color: black;
  font-family: "forvoInfo";
}

.label {
  color: white;
  font-family: "forvoInfo";
  font-size: 20;
  width: 82%;
  padding: 10%;
}

.listLayout Label{
  font-size: 15;
  margin-top: 20;
}

.subLink {
  padding-left: 35;
  margin-top: 5;
}

.dateContainer Label {
  text-align: center;
  color: white;
  font-family: "forvoInfo";
}

.dateContainer Label.filter {
  width: 35%;
  margin-right: 5rem;
}

.dateContainer Label.open {
  font-family: "forvoInfoBold";
}

.tablet Label, .tablet Button {
  font-size: 30;
}

.tablet .topLayout .headerLayout .backIcon-tablet {
  font-size: 50;
}

.no-stats {
  text-align: center;
}
