<StackLayout  class="container" [class.tablet]="!deviceService.deviceIsPhone()">
  <StackLayout orientation="vertical" class="topLayout">
    <StackLayout orientation="horizontal" class="headerLayout" (tap)="routerExtensions.backToPreviousPage()">
      <StackLayout orientation="horizontal" verticalAlignment="center">
        <Label text="<" class="backIcon" [class.backIcon-tablet]="!deviceService.deviceIsPhone()"></Label>
        <Label [text]="title" class="label"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="dateContainer" (tap)="onOpenSelector()" orientation="horizontal" horizontalAlignment="center">
      <Label [text]="selectedPeriod?.label" class="filter"></Label>
      <Label [text]="'v'" class="open"></Label>
    </StackLayout>
  </StackLayout>
  <StackLayout orientation="vertical" class="listLayout">
    <ListView [items]="stats" class="list-group" separatorColor="transparent" *ngIf="stats?.length; else noStats">
      <ng-template let-stat="item" let-i="index">
        <app-stat-item [stat]="stat" [isTablet]="!deviceService.deviceIsPhone()"></app-stat-item>
      </ng-template>
    </ListView>
    <ng-template #noStats>
      <Label class="no-stats" [text]="getTranslation(translation_stats_no_stats)"></Label>
    </ng-template>
  </StackLayout>
</StackLayout>
