.container {
  height: 100%;
}

.headerLayout {
  height: 20%;
  background-image: url("~/assets/images/header.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.backIcon {
  color: white;
  font-family: "forvoInfo";
  width: 10%;
  font-size: 40;
  horizontal-align: left;
  margin-left: 9%;
}

.listLayout {
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
  padding-right: 10%;
}

.label {
  color: white;
  font-family: "forvoInfo";
  font-size: 20;
  width: 70%;
  padding: 10%;
}

.listLayout Button{
  font-family: "forvoInfo";
  font-size: 15;
  margin-bottom: 20;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #5ab7f0;
  color: white;
  height: 15%;
  text-transform: uppercase;
}

.tablet Label, .tablet Button {
  font-size: 30;
}

.tablet .headerLayout .backIcon-tablet {
  font-size: 50;
}
